<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <section class="sideBar">
        <p><a href="/">Cars</a></p>
        <p><a href="http://">Classes</a></p>
        <p><a href="http://">Playstyles</a></p>
    </section>
    <section class="mainContent">
        <section class="searchBar">
            <input type="text" placeholder="Search...">
        </section>
        <section class="cardsField">

            <% vehicles.forEach(vehicle=> { %>

                <section class="cardsContainer">
                    <section class="actualCards">
                        <h1>
                            <%= vehicle.name %>
                        </h1>
                        <img src="<%= vehicle.image %>">
                        <p>
                            <%= vehicle.type %>
                        </p>
                        <p>
                            <%= vehicle.rarity %>
                        </p>
                        <p>
                            <%= vehicle.playstyle[0] %> -
                                <%= vehicle.playstyle[1] %>
                        </p>
                    </section>
                </section>
                <% }) %>

        </section>
    </section>
</body>

</html>